<form [formGroup]="heroeForm" (ngSubmit)="onSubmit()" class="formulario">
    <mat-form-field>
        <mat-label>Nombre:</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="nombre && nombre.invalid">El campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Super poder:</mat-label>
        <textarea matInput formControlName="superPoder"></textarea>
        <mat-error *ngIf="superPoder && superPoder.invalid">El campo es obligatorio</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Guardar</button>
</form>