.titulo {
  text-align: center;
}

.lista {
  display: flex;
  flex-wrap: wrap;
}

.lista__heroe {
  flex: 1 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
}

.test { 
    padding: 30px;
}

@media screen and (max-width: 850px) {
  .lista__heroe {
    padding: 10px;
    flex: 1 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .lista__heroe {
    padding: 10px;
    flex: 1 0 100%;
    max-width: 100%;
  }
}
