<mat-card class="heroe">
    <mat-card-header class="heroe__nombre">
        <mat-card-title>{{ heroe.nombre }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="heroe__super-poder">
        {{ heroe.superPoder }}
    </mat-card-content>
    <mat-card-actions class="heroe__acciones">
        <button mat-icon-button color="warn" (click)="eliminarHeroe.emit(heroe)" matTooltip="Eliminar héroe">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="'/heroes/' + heroe.id" matTooltip="Editar héroe">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>